@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular";
}

body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.kiosk-box {
  background-color: white;
  border: 2px solid #d3d3d3;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 550px;
  height: 900px;
}

.wrap {
  width: 100%;
  height: 100%;
  background-color: rgb(44, 80, 39);
}

.top-box {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 25%;
}

.logoBox img {
  width: 100px;
  height: 100px;
}

.textBox span {
  color: white;
  font-size: 22px;
}

.logoBox {
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
}

.textBox {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.form_txt {
  display: flex;
  text-align: center;
  align-items: center;
  width: 400px;
  margin: 10px;
}

.form-label {
  width: 50%;
}

button {
  width: 150px;
}

#footer button {
  margin: 10px;
}
