<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Mcdonald kiosk</title>
    <link
      rel="icon"
      href="https://mblogthumb-phinf.pstatic.net/20160427_137/ppanppane_1461740011817NGCJu_PNG/%B8%C6%B5%B5%B3%AF%B5%E5_%B7%CE%B0%ED_%283%29.png?type=w420"
    />
    <link rel="stylesheet" type="text/css" href="./css/add_style.css" />
  </head>
  <body>
    <div class="kiosk-box">
      <div class="wrap">
        <div class="addBox">
          <div class="addText">함께 즐기면 더욱 좋습니다!</div>
          <div class="addItems"></div>
        </div>
        <button id="goToBack" onclick="goToBack()">이전</button>
        <button id="noneSelect" onclick="noneSelect()">선택안함</button>
      </div>
    </div>
    <script src="./js/add.js"></script>
  </body>
</html>
