<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Mcdonald kiosk2</title>
    <link
      rel="icon"
      href="https://mblogthumb-phinf.pstatic.net/20160427_137/ppanppane_1461740011817NGCJu_PNG/%B8%C6%B5%B5%B3%AF%B5%E5_%B7%CE%B0%ED_%283%29.png?type=w420"
    />
    <link rel="stylesheet" type="text/css" href="MemberList_style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="kiosk-box">
      <div class="wrap">
        <div class="top-box">
          <div class="textBox">
            <h1>키오스크 관리자 화면</h1>
          </div>
        </div>
        <div class="middle-box">
          <table class="table table-striped">
            <tr>
              <th>번호</th>
              <th>아이디</th>
              <th>암호</th>
              <th>이름</th>
              <th>권한</th>
              <th>가입일</th>
              <th class="text-center">수정</th>
              <th class="text-center">삭제</th>
            </tr>
            <!-- 향상된 for문이라고 생각 -->
            <tr th:each="member, status : ${ memberList }">
              <td th:text="${ member.memberNo }"></td>
              <td th:text="${ member.memberId }"></td>
              <td th:text="${ member.memberPw }"></td>
              <td th:text="${ member.memberName }"></td>
              <td th:text="${ member.memberRole }"></td>
              <td th:text="${ member.memberJoinDatetime }"></td>
              <td class="text-center">
                <a
                  th:href="|/updateForm?memberNo=${ member.memberNo }|"
                  class="btn btn-primary"
                  role="button"
                  >수정</a
                >
              </td>
              <td class="text-center">
                <!-- GET 요청  -->
                <!--  -->
                <a
                  th:href="|/delete?memberNo=${ member.memberNo }|"
                  class="btn btn-danger"
                  role="button"
                  >삭제</a
                >
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
