<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mcdonald kiosk2</title>
    <link
            rel="icon"
            href="https://mblogthumb-phinf.pstatic.net/20160427_137/ppanppane_1461740011817NGCJu_PNG/%B8%C6%B5%B5%B3%AF%B5%E5_%B7%CE%B0%ED_%283%29.png?type=w420"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
    />
</head>
<body>
<div class="kiosk-box">
    <div class="wrap">
        <div class="top-box">
            <div class="textBox">
                <h4>키오스크 관리자 화면</h4>
            </div>
        </div>
        <div class="middle-box">
            <div class="textBox">
                <h4>주문 정보 수정</h4>
            </div>
            <table>
                <!-- 인덱스 생성 -->
                <input type="hidden" id="cartItemCode1" name="cartItemCode1" th:value="${order.cartItemCode1}" />
                <input type="hidden" id="cartItemCode2" name="cartItemCode2" th:value="${order.cartItemCode2}" />
                <input type="hidden" id="cartItemCode3" name="cartItemCode3" th:value="${order.cartItemCode3}" />
                <input type="hidden" id="cartItemCode4" name="cartItemCode4" th:value="${order.cartItemCode4}" />
                <input type="hidden" id="cartItemCode5" name="cartItemCode5" th:value="${order.cartItemCode5}" />
                <input type="hidden" id="orderNo" name="orderNo" th:value="${order.orderNo}" />
                <input type="hidden" id="orderPayType" name="orderPayType" th:value="${order.orderPayType}" />
                <tr>
                    <th>주문 코드</th>
                    <td>
                        <input
                                type="text"
                                name="inputOrderCode"
                                id="inputOrderCode"
                                th:value="${ order.orderCode }"
                        />
                    </td>
                </tr>
                <tr>
                    <th>주문 총 금액</th>
                    <td>
                        <input
                            type="text"
                            name="inputOrderTotalPrice"
                            id="inputOrderTotalPrice"
                            th:value="${ order.orderTotalPrice }"
                    />
                    </td>
                </tr>
                <tr>
                    <th>주문 상품 갯수</th>
                    <td>
                        <input
                                type="text"
                                name="inputOrderTotalCount"
                                id="inputOrderTotalCount"
                                th:value="${ order.orderTotalCount }"
                        />
                    </td>
                </tr>
                <tr>
                    <th>임시 번호</th>
                    <td>
                        <input
                                type="text"
                                name="inputOrderNumber"
                                id="inputOrderNumber"
                                th:value="${ order.orderNumber }"
                        />
                    </td>
                </tr>
                <tr>
                    <th>주문 상태</th>
                    <td>
                        <input
                                type="text"
                                name="inputOrderState"
                                id="inputOrderState"
                                th:value="${ order.orderState }"
                        />
                    </td>
                </tr>
                <tr>
                    <th>결제 시간</th>
                    <td>
                        <input
                                type="text"
                                name="inputOrderDatetime"
                                id="inputOrderDatetime"
                                th:value="${ order.orderDatetime }"
                        />
                    </td>
                </tr>
            </table>
            <br />
            <div class="text-center" my-5>
                <button
                        type="submit"
                        onclick="orderUpdateForm()"
                        class="btn btn-primary"
                >
                    수정
                </button>
                <a
                        href="/ProductList"
                        class="btn btn-danger"
                        onclick="history.back();"
                        type="button"
                >취소</a
                >
            </div>
        </div>
    </div>
</div>
<script src="./js/update.js"></script>
</body>
</html>
